body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  border-style: solid;
  
  
}

.container {

  
  width: 100%;
  largura: auto;
  largura máxima: 680 px;

}

.footer {
  cor de fundo: # f5f5f5;
  background :#D3D3D3;
}